
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html,
body {
  padding: auto;
  margin: auto;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  background-color: rgb(227, 217, 236);
  opacity: 1;

  
}
h1{
  background-color: rgba(214, 166, 226, 0.849);
  
}

ul {
  margin: 0;
  padding: 0;
}

li ul{
  list-style-type: none;
  display: block;
  width: 60px;
}

a {
  color: inherit;
  text-decoration: none;
  
}

* {
  box-sizing: border-box;
}

